<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc
    	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd


        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Swagger资源重定向(仅作为后台使用不提供静态资源) -->
	<mvc:resources location="classpath:/META-INF/resources/"
		mapping="swagger-ui.html" />
	<mvc:resources location="classpath:/META-INF/resources/webjars/"
		mapping="/webjars/**" />
		
	<!-- 测试静态资源直接下载，资源要放在WebContent根目录下，在WEB-INF下不行 -->
	<!-- <mvc:resources location="/test/" mapping="/test/**" /> -->

	<!-- ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 让服务器自身默认的Servlet去帮我们处理静态资源的响应 -->
	<!-- <mvc:default-servlet-handler/> -->

	<!-- spring 的自动注解，如果配置扫描包component-scan，其实可以不用这项 -->
	<!-- <context:annotation-config /> -->

	<!-- mvc使用注解 -->
	<mvc:annotation-driven />
<!-- 	<bean id="handlerMapping"
		class="CustomRequestMappingHandlerMapping">
		<property name=""></property>
	</bean> -->
	
	<context:component-scan base-package="com.weeds.apiversion"/>
	<context:component-scan base-package="com.weeds.token" />
	<context:component-scan base-package="com.weeds.controller" />
	<context:component-scan base-package="com.platform.utils" />
	

<!-- 	<bean id="authorization" class="AuthorizationInterceptor"/>
	<bean id="handlerMapping"
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="authorization"/>
			</list>
		</property>
	</bean> -->

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.platform.interceptor.AuthorizationInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	

	
	<bean id="multipartResolver"
	        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="maxUploadSize" value="1000000"/>
	</bean>
	<!-- below is for servlet 3.0 multipart resolver -->
	<!-- <bean id="multipartResolver"
        class="org.springframework.web.multipart.support.StandardServletMultipartResolver">
	</bean> -->


</beans>
