<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
    	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- Swagger资源重定向(仅作为后台使用不提供静态资源) -->
	<mvc:resources location="classpath:/META-INF/resources/"
		mapping="swagger-ui.html" />
	<mvc:resources location="classpath:/META-INF/resources/webjars/"
		mapping="/webjars/**" />

	<!-- ViewResolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- 让服务器自身默认的Servlet去帮我们处理静态资源的响应 -->
	<!-- <mvc:default-servlet-handler/> -->

	<!-- spring 的自动注解，如果配置扫描包component-scan，其实可以不用这项 -->
	<!-- <context:annotation-config /> -->

	<!-- mvc使用注解 -->
	<mvc:annotation-driven />
<!-- 	<bean id="handlerMapping"
		class="com.weeds.apiversion.CustomRequestMappingHandlerMapping">
		<property name=""></property>
	</bean> -->
	
	<context:component-scan base-package="com.weeds.apiversion"/>
	<context:component-scan base-package="com.weeds.token" />
	<context:component-scan base-package="com.weeds.controller" />
	<context:component-scan base-package="com.platform.utils" />
	

<!-- 	<bean id="authorization" class="com.platform.interceptor.AuthorizationInterceptor"/>
	<bean id="handlerMapping"
		class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="authorization"/>
			</list>
		</property>
	</bean> -->

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="com.platform.interceptor.AuthorizationInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	

	



</beans>
